<div class="AnswerStyle gridAnswer" style="height: 200px">
    <div class="HeaderAnswer">
        <div class="NameUserStyle">
            <label>@User.Identity.Name відповідіє:</label>
        </div>
    </div>
    <div class="TextZone">
        <textarea maxlength='1000' id="AnswerText" placeholder="Ваша відповідь" oninput="updateCharCount()"></textarea>
    </div>
    <div class="BottomPanelStyle">
        <div id="AnswerChar" class="AnswerCharStyle">Залишилось символів: 1000/1000</div>
        <button class="GeneralButtonStyle">Надіслати</button>
    </div>
</div>