<div class="TextAnswerStyle">
    <div class="TextZone">
        <textarea maxlength='1000' placeholder="Ваша відповідь"></textarea>
    </div>
</div>
<div class="ReactionPanelStyle">
    <button class="GeneralButtonStyle" onclick="EditAnswer(this)">Змінити</button>
    <button class="GeneralButtonStyle" style="float:right;">Відмінити</button>
</div>