<div class="TextCommentStyle">
    <div class="TextZone">
        <textarea maxlength='1000' placeholder="Ваш коментар"></textarea>
    </div>
</div>
<div class="ReactionPanelStyle">
    <button class="GeneralButtonStyle" onclick="EditComment(this)">Змінити</button>
    <button class="GeneralButtonStyle" style="float:right;">Відмінити</button>
</div>