@model MovieOpinions.Domain.ViewModels.LoginModel.LoginModel;

@{
    ViewBag.Title = "Вхід";
}

@section Style{
    <link rel="stylesheet" href="~/Content/CSS_Style/LoginPage_Style/LoginPage_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Fonts_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Button_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/TextBox_Style.css" />
    <link rel="stylesheet" href="~/Content/CSS_Style/General_CSS_Style/Modal_Window.css" />
}

<div class="LoginFormRegionStyle">
    <div id="LoginForm" class="LoginFormStyle">
        <div class="WelcomStyle">
            <p>Вітаємо!</p>
            <a>Увійдіть в систему</a>
        </div>
        <div class="CenteredStyle" id="LoginUser">
            @Html.TextBoxFor(Model => Model.LoginUser, "", new { @class = "TextBoxStyle", 
                                                                 @oninput = "UpdateStyleBasedOnInput('LoginUser')" })
            <label class="LabelStyle">Логін</label>
        </div>
        <div class="CenteredStyle MobileStyle" id="PasswordUser">
            @Html.PasswordFor(Model => Model.PasswordUser, new { @class = "TextBoxStyle", 
                                                                 @oninput = "UpdateStyleBasedOnInput('PasswordUser')" })
            <label class="LabelStyle">Пароль</label>
        </div>
        <div class="CenteredStyle">
            <p>Досі не зареєстровані?</p>
            <a href="@Url.Action("RedirectToRegistrationPage", "LoginPage")">Зареєструватися</a>
        </div>
        <div class="LoginButtonStyle">
            <button class="GeneralButtonStyle" onclick="SendForm('LoginForm', 'LoginUser/LoginPageController')">Увійти</button>
        </div>
     </div>
    @Html.Partial("_ModalWindow");
</div>

@section Script{
    <script src="~/JavaScript/jQuery/jquery-3.7.1.js"></script>
    <script src="~/JavaScript/Update_Style_Based_On_Input.js"></script>
    <script src="~/JavaScript/Send_Login_Form.js"></script>
    <script src="~/JavaScript/Modal_Window/Close_Modal_Window.js"></script>
}