.ContentSiteStyle {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
    height: 90vh;
}

.ZoneFilmStyle {
    margin: 20px;
    display: flex;
    border-radius: 30px;
    background: #333;
    border: 3px solid rgba(51, 51, 51, 0.50);
    box-shadow: -12px -12px 24px 0px #3E3E3E, -12px -12px 24px 0px rgba(62, 62, 62, 0.25) inset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.FormFilmStyle {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 95%;
    width: 95%;
    border-radius: 30px;
    background: #333;
    border: 3px solid rgba(51, 51, 51, 0.50);
    box-shadow: -12px -12px 24px 0px #3E3E3E, -12px -12px 24px 0px rgba(62, 62, 62, 0.25) inset;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.FilmInformatioStyle {
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.PhotoFilmStyle {
    padding: 20px;
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end: 2;
}

    .PhotoFilmStyle img {
        border-radius: 20px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

.AboutFilmStyle {
    padding: 20px;
}

.ElementInformationFilm {
    padding: 10px 0;
    font-size: 15px;
    color: #FF8304;
    font-family: 'Roboto';
}

    .ElementInformationFilm a {
        color: white;
        text-decoration: none;
    }

.CommentZoneStyle{
    padding: 0 20px;
}

.CommentStyle{
    background-color: #292929;
    border-radius: 14px;
    margin: 10px 0px;
}

.HeaderComment {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.DateCommentStyle {
    text-align: right;
    font-family: 'Roboto';
    padding: 10px 0;
    font-size: 15px;
    color: #FFF2E5;
    opacity: 0.2;
}

.NameUserStyle {
    font-family: 'Roboto';
    padding: 10px 0;
    font-size: 15px;
    color: #FFCD9A;
}

.TextCommentStyle {
    padding: 10px 20px;
    font-size: 20px;
    color: #FF8304;
    font-family: 'Roboto';
}

.ReactionPanelStyle{
    padding: 20px 50px;
}

    .ReactionPanelStyle button {
        font-size: 15px;
        height: 30px;
    }

.AnswerCommentStyle {
    font-family: 'Roboto';
    padding: 10px 0;
    font-size: 15px;
    color: #FFCD9A;
    display: block; 
    width: 200px; 
    margin: 0 auto;
    text-align: center;
}

    .AnswerCommentStyle:hover {
        color: #ffffff;
    }

.AnswerStyle {
    background-color: #666666;
    border-radius: 14px;
    border: 3px #333333;
    width: 90%;
    margin: 10px 0;
    overflow-x: hidden;
    margin-left: auto;
    max-height: 500px;
    transition: max-height 1s, margin 0.5s;
    overflow: hidden;
}

    .AnswerStyle::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

.HeaderAnswer {
    margin: 5px;
}

.TextAnswerStyle {
    padding: 10px 20px;
    font-size: 15px;
    color: #FF8304;
    font-family: 'Roboto';
}

.HideAnswers {
    max-height: 0;
    margin: 0;
    margin-left: auto;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.AnswerStyle textarea {
    font-size: 17px;
    border-radius: 20px;
    resize: none;
    font-family: 'Roboto';
    color: #FF8304;
    background: #292929;
    width: 95%;
    height: 100%;
    padding: 13px;
    box-sizing: border-box;
}

    .AnswerStyle textarea:focus {
        border: 2px solid;
        outline: none;
    }

.BottomPanelStyle {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .BottomPanelStyle button {
        font-size: 15px;
        height: 30px;
    }

.TextZone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CharStyle {
    font-family: 'Roboto';
    padding: 10px 0;
    font-size: 15px;
    color: #FFF2E5;
    opacity: 0.5;
}

.FilmAndCommentZoneStyle {
    overflow: auto;
}

.ZoneTextCommentStyle {
    background-color: transparent;
    padding: 10px;
    display: block;
}

    .ZoneTextCommentStyle button {
        font-size: 20px;
    }

.AddCommentButtonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
}

.CommentTemplateStyle {
    background-color: #292929;
    border-radius: 14px;
    margin: 0px auto;
    width: 90%;
}

    .CommentTemplateStyle textarea {
        font-size: 17px;
        border-radius: 20px;
        resize: none;
        font-family: 'Roboto';
        color: #FF8304;
        background: #292929;
        width: 95%;
        height: 100%;
        padding: 13px;
        box-sizing: border-box;
    }

        .CommentTemplateStyle textarea:focus {
            border: 2px solid;
            outline: none;
        }

.HeaderTemplateComment {
    margin: 5px;
}

@keyframes slideOut {
    0% {
        height: 220px;
    }

    100% {
        height: 0px;
    }
}

.SlideOutStyle {
    animation: slideOut 0.3s ease-out forwards;
    overflow: hidden;
}

@keyframes slideIn {
    0% {
        height: 0px;
    }

    100% {
        height: 220px;
    }
}

.SlideInStyle {
    animation: slideIn 0.3s ease-out forwards;
    overflow: hidden;
}

.NotCommentStyle {
    font-family: 'Roboto';
    padding: 10px 0;
    font-size: 20px;
    color: #FFCD9A;
    text-align: center;
}